![Yantrajaal Banner](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Postgres Exercises
https://pgexercises.com/ <br>
https://pgexercises.com/gettingstarted.html

In [ ]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2024-01-16 09:28:58.927360+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy

#Install & Configure Postgres

In [2]:
# Install postgresql server

!apt update > /dev/null
!apt install postgresql > /dev/null
#!sudo -u postgres psql -V
!psql -V
!service postgresql start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

psql (PostgreSQL) 14.11 (Ubuntu 14.11-0ubuntu0.22.04.1)
 * Starting PostgreSQL 14 database server
   ...done.

In [3]:
#!pip install psycopg2
import psycopg2
import pandas as pd

#Create Schema, Tables and Insert Data

In [4]:
# Change the database superuser 'postgres' to a non-default value 'pass'
#alterseries command - DCL Ccommand
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'pass';"

ALTER ROLE

In [5]:
!wget -q https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/clubdata.sql

In [6]:
# Download and execute SQL file to create tables, load data
#sql is a lonf text file which can contain 20k commands and as long as they are correct it will run all of them. First we get the command using Wget.
#export file-
#-f means file after this and instruct sql to use that
#!wget https://pgexercises.com/dbfiles/clubdata.sql
#!wget -q https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/clubdata.sql
#Run the batch file to create tables, load data
!psql -h localhost -U postgres -f clubdata.sql -d postgres -x -q

Password for user postgres:

In [7]:
# Create file to store the password. Else will be prompted each time
#!echo "localhost:5432:praxisdb:postgres:pass" > ~/.pgpass
!echo "localhost:5432:exercises:postgres:pass" > ~/.pgpass
!chmod 0600 ~/.pgpass
!cat ~/.pgpass

localhost:5432:exercises:postgres:pass

In [8]:
#Note new database called exercises
#\l - to show the database.
#here we are trying to find out the databases but we haven't connected to exercises database yet

!psql -h localhost -p 5432 -Upostgres -c "\l"

Password for user postgres:
                                  List of databases
   Name    |  Owner   | Encoding |   Collate   |    Ctype    |   Access privileges
-----------+----------+----------+-------------+-------------+-----------------------
 exercises | postgres | UTF8     | en_US.UTF-8 | en_US.UTF-8 |
 postgres  | postgres | UTF8     | en_US.UTF-8 | en_US.UTF-8 |
 template0 | postgres | UTF8     | en_US.UTF-8 | en_US.UTF-8 | =c/postgres          +
           |          |          |             |             | postgres=CTc/postgres
 template1 | postgres | UTF8     | en_US.UTF-8 | en_US.UTF-8 | =c/postgres          +
           |          |          |             |             | postgres=CTc/postgres
(4 rows)

In [9]:
#Note three tables under schema cd
#now we are connecting to exercise database and asking to show the table
#cd.* = In sql file schema called cd and created three tables under the schema so all tables begin with qualifier cd.
#dt+ is list of tables
!psql -h localhost -p 5432 -Upostgres -d exercises -c "\dt+ cd.*"
#!psql -h localhost -p 5432 -Upostgres -d exercises -c "\dt+ *.*" # gives all tables with different schemas

                                      List of relations
 Schema |    Name    | Type  |  Owner   | Persistence | Access method |  Size  | Description
--------+------------+-------+----------+-------------+---------------+--------+-------------
 cd     | bookings   | table | postgres | permanent   | heap          | 264 kB |
 cd     | facilities | table | postgres | permanent   | heap          | 16 kB  |
 cd     | members    | table | postgres | permanent   | heap          | 16 kB  |
(3 rows)

## Python Access
https://www.tutorialspoint.com/python_data_access/python_postgresql_database_connection.htm

In [10]:
# Local Colab server

conn = psycopg2.connect(database="exercises", user='postgres', password='pass', host='127.0.0.1', port= '5432')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 14.11 (Ubuntu 14.11-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)

In [11]:
# function to execute SQL select statements with Postgres
#
def runSelect(s):
    #Set up connection

    conn = psycopg2.connect(database="exercises", user='postgres', password='pass', host='127.0.0.1', port= '5432')
    #Setting auto commit true
    conn.autocommit = True
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    #Retrieving data
    cursor.execute(s)
    #Fetching all rows from the table
    result = cursor.fetchall();
    #print(len(result))
    if (len(result)) > 0:                                       # result contains at least one row
        colnames = [desc[0] for desc in cursor.description]     # get column names
        #print(colnames)
        resultdf = pd.DataFrame(result)                         # convert list to dataframe
        resultdf.columns = colnames                             # add column names
        #return resultdf
        return resultdf.style.hide()                            # hide the index
    else:
        print('no records found')
        return
# function to execute SQL non-select statements with Postgres
#
def runCmd(s):
    #Create Connection
    conn = psycopg2.connect(database="exercises", user='postgres', password='pass', host='127.0.0.1', port= '5432')
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    try:
        cursor.execute(s)
        print('Command executed')
        conn.commit()
    except:
        print('Command failed')
    #Closing the connection
    conn.close()

##Check Data

In [12]:
runSelect("select * from cd.members limit 3")

In [13]:
runSelect("select * from cd.facilities limit 3")

In [14]:
runSelect("select * from cd.bookings limit 3")

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)

In [15]:
from datetime import datetime
import pytz
print('Last tested  ',datetime.now(pytz.timezone('Asia/Kolkata')))

Last tested   2024-02-29 14:46:14.796221+05:30

#Basics

In [16]:
#1 How can you retrieve all the information from the cd.facilities table?
runSelect("select * from cd.facilities")

In [17]:
#2 You want to print out a list of all of the facilities and their cost to members. How would you retrieve a list of only facility names and costs?
runSelect("select name, membercost from cd.facilities ")

In [18]:
#3 How can you produce a list of facilities that charge a fee to members?
runSelect("select name, membercost, guestcost, initialoutlay, monthlymaintenance \
from cd.facilities \
where membercost > 0")

In [19]:
#4 How can you produce a list of facilities that charge a fee to members, and that fee is less than 1/50th of the monthly maintenance cost? Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.
runSelect("select facid, name, membercost, monthlymaintenance \
from cd.facilities \
where membercost > 0 and (membercost < monthlymaintenance/50.0)")

In [20]:
#Basic string searches
#5 How can you produce a list of all facilities with the word 'Tennis' in their name?
runSelect("select facid, name, membercost, guestcost, initialoutlay, monthlymaintenance \
from cd.facilities \
where name like '%Tennis%' ")

In [21]:
#Matching against multiple possible values
#6 How can you retrieve the details of facilities with ID 1 and 5? Try to do it without using the OR operator.
runSelect("select facid, name, membercost, guestcost, initialoutlay, monthlymaintenance \
from cd.facilities \
where facid in (1,5) ")

In [23]:
#Classify results into buckets
#7) How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive' depending on if their monthly maintenance cost is more than $100? Return the name and monthly maintenance of the facilities in question.
runSelect("select name, \
case when monthlymaintenance >100 then 'expensive' else 'cheap' end as cost from cd.facilities")

In [24]:
#Working with dates
#8 How can you produce a list of members who joined after the start of September 2012? Return the memid, surname, firstname, and joindate of the members in question.
runSelect("select memid, surname, firstname, joindate \
from cd.members \
where joindate >= '2012-09-01' ")

In [25]:
#Removing duplicates, and ordering results
#9 How can you produce an ordered list of the first 10 surnames in the members table? The list must not contain duplicates.
runSelect("select distinct surname from cd.members order by surname limit 10 ")

In [26]:
#Combining results from multiple queries
#10 You, for some reason, want a combined list of all surnames and all facility names. Yes, this is a contrived example :-). Produce that list
runSelect("select surname from cd.members union select name from cd.facilities")

In [27]:
#Simple aggregation
#11 You'd like to get the signup date of your last member. How can you retrieve this information?
runSelect("select max(joindate)as latest from cd.members")

In [28]:
#more aggregation
#12 You'd like to get the first and last name of the last member(s) who signed up - not just the date. How can you do that?

In [29]:
runSelect("select firstname, surname, joindate from cd.members where joindate = (select max(joindate) from cd.members)")

# Joins and Subqueries

In [30]:
#Retrieve the start times of members' bookings
#1 How can you produce a list of the start times for bookings by members named 'David Farrell'?
runSelect("select * from cd.bookings limit 5")

In [31]:
#Retrieve the start times of members' bookings
#2 How can you produce a list of the start times for bookings by members named 'David Farrell'?
runSelect("select booking.starttime from cd.bookings booking \
inner join cd.members mem \
on mem.memid = booking.memid \
where mem.firstname = 'David' and mem.surname = 'Farrell' limit 5")

In [32]:
#Work out the start times of bookings for tennis courts
#3 How can you produce a list of the start times for bookings for tennis courts, for the date '2012-09-21'? Return a list of start time and facility name pairings, ordered by the time.
runSelect("select booking.starttime start, facs.name name \
from cd.facilities facs \
inner join cd.bookings booking  \
on facs.facid = booking.facid \
where facs.name like '%Tennis Court 1%' and booking.starttime >= '2012-09-21' and booking.starttime < '2012-09-22' order by starttime")

In [33]:
#4
runSelect("select distinct recs.firstname firstname, recs.surname surname \
from cd.members mems \
inner join cd.members recs \
on recs.memid = mems.recommendedby \
order by surname, firstname")

In [33]:
#5
runSelect("select mems.firstname memfname, mems.surname memsname, recs.firstname recfname, recs.surname recsname \
from cd.members mems \
left outer join cd.members recs \
on recs.memid = mems.recommendedby \
order by memsname, memfname")

In [34]:
#Question
##6 How can you produce a list of all members who have used a tennis court? Include in your output the name of the court, and the name of the member formatted as a single column. Ensure no duplicate data, and order by the member name followed by the facility name.
runSelect("select mems.firstname ||' '|| mems.surname member, facs.name facility \
		  from cd.members mems \
		  inner join cd.bookings bks \
		  on mems.memid = bks.memid \
		  inner join cd.facilities facs \
		  on bks.facid = facs.facid \
		  where facs.name in ('Tennis Court 2','Tennis Court 1') \
		  order by member, facility ")

In [55]:
#Produce a list of costly bookings
#7 How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? Remember that guests have different costs to members (the listed costs are per half-hour 'slot'), and the guest user is always ID 0. Include in your output the name of the facility, the name of the member formatted as a single column, and the cost. Order by descending cost, and do not use any subqueries.
runSelect("select mems.firstname || ' ' || mems.surname as member, \
facs.name as facility, case when mems.memid = 0 then bks.slots*facs.guestcost \
else bks.slots*facs.membercost \
end as cost from cd.members mems \
inner join cd.bookings bks on mems.memid = bks.memid \
inner join cd.facilities facs on bks.facid = facs.facid where \
bks.starttime >= '2012-09-14' and \
bks.starttime < '2012-09-15' and ((mems.memid = 0 and bks.slots*facs.guestcost > 30) or \
(mems.memid != 0 and bks.slots*facs.membercost > 30)) \
order by cost desc")

In [36]:
#Produce a list of all members, along with their recommender, using no joins.
#8 How can you output a list of all members, including the individual who recommended them (if any), without using any joins? Ensure that there are no duplicates in the list, and that each firstname + surname pairing is formatted as a column and ordered.
runSelect("select distinct mems.firstname ||''|| mems.surname member, \
(select recs.firstname ||''|| recs.surname recommender \
from cd.members recs \
where recs.memid = mems.recommendedby) \
from cd.members mems order by member")

# Modifying Data

In [37]:
#1 Insert some data into a table
#The club is adding a new facility - a spa. We need to add it into the facilities table. Use the following values:
#facid: 9, Name: 'Spa', membercost: 20, guestcost: 30, initialoutlay: 100000, monthlymaintenance: 800.
runCmd("insert into cd.facilities \
    (facid, name, membercost, guestcost, initialoutlay, monthlymaintenance) \
    values (9, 'Spa', 20, 30, 100000, 800)")

Command executed

In [38]:
#2 Insert multiple rows of data into a table
#In the previous exercise, you learned how to add a facility. Now you're going to add multiple facilities in one command. Use the following values:
#facid: 9, Name: 'Spa', membercost: 20, guestcost: 30, initialoutlay: 100000, monthlymaintenance: 800.
#facid: 10, Name: 'Squash Court 2', membercost: 3.5, guestcost: 17.5, initialoutlay: 5000, monthlymaintenance: 80.
runCmd(("insert into cd.facilities \
(facid, name, membercost, guestcost, initialoutlay, monthlymaintenance) \
values (10, 'Spa', 20, 30, 100000, 800), (11, 'Squash Court 2', 3.5, 17.5, 5000, 80)"))

Command executed

In [58]:
runSelect("select * from cd.facilities")

In [69]:
#3 Insert calculated data into a table
#Let's try adding the spa to the facilities table again. This time, though, we want to automatically generate the value for the next facid, rather than specifying it as a constant. Use the following values for everything else:

#Name: 'Spa', membercost: 20, guestcost: 30, initialoutlay: 100000, monthlymaintenance: 800.
runCmd("insert into cd.facilities (facid, name, membercost, guestcost, initialoutlay, monthlymaintenance) \
select(max(facid) from cd.facilities)+1, 'Spa', 20, 30, 100000, 800")
runSelect("select * from cd.facilities")

Command failed

In [40]:
#4 Update some existing data
#Question
#We made a mistake when entering the data for the second tennis court. The initial outlay was 10000 rather than 8000: you need to alter the data to fix the error.
runCmd("update cd.facilities \
    set initialoutlay = 10000 \
    where facid = 1;")

Command executed

In [41]:
#5 We want to increase the price of the tennis courts for both members and guests. Update the costs to be 6 for members, and 30 for guests.
runCmd("update cd.facilities \
set membercost = 6, guestcost = 30 \
where name = 'Tennis Court%'")

Command executed

In [42]:
#6 Question
#We want to alter the price of the second tennis court so that it costs 10% more than the first one. Try to do this without using constant values for the prices, so that we can reuse the statement if we want to.
runCmd("update cd.facilities \
set (membercost = (select membercost * 1.1 from cd.facilities where facid = 0)) \
set (guestcost = (select guestcost * 1.1 from cd.facilities where facid = 0)) \
where facs.facid = 1;")

Command failed

In [43]:
runSelect("select * from cd.facilities")

In [ ]:
#7 As part of a clearout of our database, we want to delete all bookings from the cd.bookings table. How can we accomplish this?
#runCmd("delete from cd.bookings")

In [ ]:
#8 We want to remove member 37, who has never made a booking, from our database. How can we achieve that?
#runCmd("delete from cd.bookings \
#where memid = 37")

In [ ]:
#9 In our previous exercises, we deleted a specific member who had never made a booking. How can we make that more general, to delete all members who have never made a booking?
#runCmd("delete from cd.members where memid not in (select memid from cd.bookings)")

# Aggregates

In [44]:
#1 Question
#For our first foray into aggregates, we're going to stick to something simple. We want to know how many facilities exist - simply produce a total count.
runSelect("select count(*) from cd.facilities")

In [45]:
#2 Produce a count of the number of facilities that have a cost to guests of 10 or more.
runSelect("select count(*) from cd.facilities \
where guestcost >= 30")

In [46]:
#3 Produce a count of the number of recommendations each member has made. Order by member ID.
runSelect("select recommendedby, count(*)  from cd.members where recommendedby is not null \
group by recommendedby \
order by recommendedby")

In [47]:
#4 Produce a list of the total number of slots booked per facility. For now, just produce an output table consisting of facility id and slots, sorted by facility id.
runSelect("select facid, sum(slots) as Total_Slots from cd.bookings \
group by facid \
order by facid")

In [48]:
#5 Produce a list of the total number of slots booked per facility in the month of September 2012. Produce an output table consisting of facility id and slots, sorted by the number of slots.
runSelect("select facid, sum(slots) as Total_slots from cd.bookings \
where starttime >= '2012-09-01' \
		and starttime < '2012-10-01' \
    	group by facid \
order by sum(slots)")

In [67]:
#6 Produce a list of the total number of slots booked per facility per month in the year of 2012. Produce an output table consisting of facility id and slots, sorted by the id and month.
runSelect("select facid, extract(month from starttime) as month, sum(slots) as total from cd.bookings \
where extract(year from starttime) = 2012 \
group by facid, month \
order by facid, month")

In [76]:
#7Find the total number of members (including guests) who have made at least one booking.
runSelect("select count(distinct memid) from cd.bookings  ")

In [77]:
#8 Produce a list of facilities with more than 1000 slots booked. Produce an output table consisting of facility id and slots, sorted by facility id.
runSelect("select facid, sum(slots) as Total_slots \
from cd.bookings \
group by facid having sum(slots) > 1000 \
order by facid ")

In [78]:
runSelect("select * from cd.facilities limit 10")

In [82]:
#9 Produce a list of facilities along with their total revenue. The output table should consist of facility name and revenue, sorted by revenue. Remember that there's a different cost for guests and members!
runSelect("select facs.name, sum(slots * case when memid = 0 then facs.guestcost else facs.membercost end) as revenue \
from cd.bookings bks \
inner join cd.facilities facs \
on bks.facid = facs.facid \
	group by facs.name \
order by revenue ")

In [84]:
#10 Produce a list of facilities with a total revenue less than 1000. Produce an output table consisting of facility name and revenue, sorted by revenue. Remember that there's a different cost for guests and members!
runSelect("select name, revenue from (select facs.name, sum(slots * case when memid = 0 then facs.guestcost else facs.membercost end) as revenue \
from cd.bookings bks \
inner join cd.facilities facs on bks.facid = facs.facid \
	group by facs.name \
	) as agg where revenue < 1000 \
  order by revenue")

In [88]:
#11 Output the facility id that has the highest number of slots booked. For bonus points, try a version without a LIMIT clause. This version will probably look messy!
runSelect("select facid, sum(slots) as slots from cd.bookings \
group by facid \
order by sum(slots) desc limit 1")

In [34]:
#12 Produce a list of the total number of slots booked per facility per month in the year of 2012. In this version, include output rows containing totals for all months per facility, and a total for all months for all facilities.
#The output table should consist of facility id, month and slots, sorted by the id and month. When calculating the aggregated values for all months and all facids, return null values in the month and facid columns.
runSelect("select facid, extract(month from starttime) as month, sum(slots) as slots \
	from cd.bookings \
	where \
		starttime >= '2012-01-01' \
		and starttime < '2013-01-01' \
	group by rollup(facid, month) \
order by facid, month; ")

In [35]:
#13 Produce a list of the total number of hours booked per facility, remembering that a slot lasts half an hour. The output table should consist of the facility id, name, and hours booked, sorted by facility id. Try formatting the hours to two decimal places.
runSelect("select facs.facid, facs.name, \
	trim(to_char(sum(bks.slots)/2.0, '9999999999999999D99')) as Total_Hours \
	from cd.bookings bks \
	inner join cd.facilities facs \
		on facs.facid = bks.facid \
	group by facs.facid, facs.name \
order by facs.facid")

In [36]:
#14 Produce a list of each member name, id, and their first booking after September 1st 2012. Order by member ID.
runSelect("select mems.surname, mems.firstname, mems.memid, min(bks.starttime) as starttime \
	from cd.bookings bks \
	inner join cd.members mems on \
		mems.memid = bks.memid \
	where starttime >= '2012-09-01' \
	group by mems.surname, mems.firstname, mems.memid \
order by mems.memid ")

In [37]:
#15 Produce a list of member names, with each row containing the total member count. Order by join date, and include guest members.
runSelect("select (select count(*) from cd.members) as count, firstname, surname \
	from cd.members \
order by joindate")

In [38]:
#16 Produce a monotonically increasing numbered list of members (including guests), ordered by their date of joining. Remember that member IDs are not guaranteed to be sequential.
runSelect("select row_number() over(order by joindate), firstname, surname \
	from cd.members \
order by joindate ")

In [42]:
#17 Output the facility id that has the highest number of slots booked. Ensure that in the event of a tie, all tieing results get output.
runSelect("select facid, sum(slots) as totalslots from cd.bookings \
group by facid \
having sum(slots) = (select max(sum2.totalslots) from \
		(select sum(slots) as totalslots \
		from cd.bookings \
		group by facid \
		) as sum2)")

In [43]:
#18 Produce a list of members (including guests), along with the number of hours they've booked in facilities, rounded to the nearest ten hours. Rank them by this rounded figure, producing output of first name, surname, rounded hours, rank. Sort by rank, surname, and first name.
runSelect("select firstname, surname, \
	((sum(bks.slots)+10)/20)*10 as hours, \
	rank() over (order by ((sum(bks.slots)+10)/20)*10 desc) as rank \
	from cd.bookings bks \
	inner join cd.members mems \
		on bks.memid = mems.memid \
	group by mems.memid \
order by rank, surname, firstname ")

In [44]:
#19 Produce a list of the top three revenue generating facilities (including ties). Output facility name and rank, sorted by rank and facility name.
runSelect("select name, rank from ( \
	select facs.name as name, rank() over (order by sum(case \
				when memid = 0 then slots * facs.guestcost \
				else slots * membercost \
			end) desc) as rank \
		from cd.bookings bks \
		inner join cd.facilities facs \
			on bks.facid = facs.facid \
		group by facs.name \
	) as subq \
	where rank <= 3 \
order by rank")

In [45]:
#20 Classify facilities into equally sized groups of high, average, and low based on their revenue. Order by classification and facility name.
runSelect("select name, case when class=1 then 'high' \
		when class=2 then 'average' \
		else 'low' \
		end revenue \
	from ( \
		select facs.name as name, ntile(3) over (order by sum(case \
				when memid = 0 then slots * facs.guestcost \
				else slots * membercost \
			end) desc) as class \
		from cd.bookings bks \
		inner join cd.facilities facs \
			on bks.facid = facs.facid \
		group by facs.name \
	) as subq \
order by class, name ")

In [46]:
#21 Based on the 3 complete months of data so far, calculate the amount of time each facility will take to repay its cost of ownership. Remember to take into account ongoing monthly maintenance. Output facility name and payback time in months, order by facility name. Don't worry about differences in month lengths, we're only looking for a rough value here!
runSelect("select 	facs.name as name, \
	facs.initialoutlay/((sum(case \
			when memid = 0 then slots * facs.guestcost \
			else slots * membercost \
		end)/3) - facs.monthlymaintenance) as months \
	from cd.bookings bks \
	inner join cd.facilities facs \
		on bks.facid = facs.facid \
	group by facs.facid \
order by name")

In [68]:
#22 For each day in August 2012, calculate a rolling average of total revenue over the previous 15 days. Output should contain date and revenue columns, sorted by the date. Remember to account for the possibility of a day having zero revenue. This one's a bit tough, so don't be afraid to check out the hint!
runSelect("select 	dategen.date, \
	        (select sum(case \
        			when memid = 0 then slots * facs.guestcost \
        			else slots * membercost \
      		end) as rev from cd.bookings bks \
          		inner join cd.facilities facs on bks.facid = facs.facid \
              where bks.starttime > dategen.date - interval '14 days' \
        			and bks.starttime < dategen.date + interval '1 day')/15 as revenue \
        	from (select 	cast(generate_series(timestamp '2012-08-01', '2012-08-31','1 day') as date) as date)  as dategen \
          order by dategen.date")

#Date

In [50]:
#1 Produce a timestamp for 1 a.m. on the 31st of August 2012
runSelect("select timestamp '2012-08-31 01:00:00'")

In [59]:
#2 Find the result of subtracting the timestamp '2012-07-30 01:00:00' from the timestamp '2012-08-31 01:00:00'
runSelect("select timestamp '2012-08-31 01:00:00' - timestamp '2012-07-30 01:00:00' as Interval")

In [53]:
#3 Produce a list of all the dates in October 2012. They can be output as a timestamp (with time set to midnight) or a date.
runSelect("select generate_series(timestamp '2012-10-01', timestamp '2012-10-31', interval '1 day') ts")

In [55]:
#4 Get the day of the month from the timestamp '2012-08-31' as an integer.
runSelect("select extract(day from timestamp '2012-08-31')")

In [56]:
#5 Work out the number of seconds between the timestamps '2012-08-31 01:00:00' and '2012-09-02 00:00:00'
runSelect("select extract(epoch from (timestamp '2012-09-02 00:00:00' - '2012-08-31 01:00:00'))")

In [62]:
#6 For each month of the year in 2012, output the number of days in that month. Format the output as an integer column containing the month of the year, and a second column containing an interval data type.
runSelect("select extract(month from cal.month) as month, \
(cal.month + interval '1 month') - cal.month as length \
from (select generate_series(timestamp '2012-01-01', timestamp '2012-12-01', interval '1 month') as month) cal \
order by month")

In [59]:
#7 For any given timestamp, work out the number of days remaining in the month. The current day should count as a whole day, regardless of the time. Use '2012-02-11 01:00:00' as an example timestamp for the purposes of making the answer. Format the output as a single interval value.
runSelect("select (date_trunc('month',ts.testts) + interval '1 month') \
		- date_trunc('day', ts.testts)  remaining \
	from (select timestamp '2012-02-11 01:00:00' as testts) ts ")

In [60]:
#8 Return a list of the start and end time of the last 10 bookings (ordered by the time at which they end, followed by the time at which they start) in the system
runSelect("select starttime, starttime + slots*(interval '30 minutes') endtime \
	from cd.bookings \
	order by endtime desc, starttime desc \
	limit 10   ")

In [61]:
#9 Return a count of bookings for each month, sorted by month
runSelect("select date_trunc('month', starttime) as month, count(*) \
	from cd.bookings \
	group by month \
	order by month ")

In [62]:
#10 Work out the utilisation percentage for each facility by month, sorted by name and month, rounded to 1 decimal place. Opening time is 8am, closing time is 8.30pm. You can treat every month as a full month, regardless of if there were some dates the club was not open.
runSelect("select name, month, \
	round((100*slots)/ \
		cast( 25*(cast((month + interval '1 month') as date) - cast (month as date)) as numeric),1) utilisation \
	from  (select facs.name as name, date_trunc('month', starttime) as month, sum(slots) slots \
			from cd.bookings bks \
			inner join cd.facilities facs \
				on bks.facid = facs.facid \
			group by facs.facid, month) inn \
order by name, month ")

# String Operations

In [63]:
#1 Output the names of all members, formatted as 'Surname, Firstname'
runSelect("select surname || ', ' || firstname as name from cd.members ")

In [67]:
#2 Find all facilities whose name begins with 'Tennis'. Retrieve all columns.
runSelect("select * from cd.facilities where name like 'Tennis%'")

In [68]:
#3 Perform a case-insensitive search to find all facilities whose name begins with 'tennis'. Retrieve all columns.
runSelect("select * from cd.facilities where upper(name) like 'TENNIS%';  ")

In [69]:
#4 You've noticed that the club's member table has telephone numbers with very inconsistent formatting. You'd like to find all the telephone numbers that contain parentheses, returning the member ID and telephone number sorted by member ID.
runSelect("select memid, telephone from cd.members where telephone ~ '[()]' ")

In [70]:
#5 The zip codes in our example dataset have had leading zeroes removed from them by virtue of being stored as a numeric type. Retrieve all zip codes from the members table, padding any zip codes less than 5 characters long with leading zeroes. Order by the new zip code.
runSelect("select lpad(cast(zipcode as char(5)),5,'0') zip from cd.members order by zip")

In [71]:
#6 You'd like to produce a count of how many members you have whose surname starts with each letter of the alphabet. Sort by the letter, and don't worry about printing out a letter if the count is 0.
runSelect("select substr (mems.surname,1,1) as letter, count(*) as count \
    from cd.members mems \
    group by letter \
    order by letter ")

In [72]:
#7 The telephone numbers in the database are very inconsistently formatted. You'd like to print a list of member ids and numbers that have had '-','(',')', and ' ' characters removed. Order by member id.
runSelect("select memid, translate(telephone, '-() ', '') as telephone from cd.members order by memid")

# Recursive Queries

In [56]:
#1
runSelect("with recursive recommenders(recommender) as (select recommendedby from cd.members where memid = 27 \
	union all \
	select mems.recommendedby \
		from recommenders recs \
		inner join cd.members mems \
			on mems.memid = recs.recommender) \
select recs.recommender, mems.firstname, mems.surname \
	from recommenders recs \
	inner join cd.members mems \
		on recs.recommender = mems.memid \
order by memid desc")

In [57]:
#2 Find the downward recommendation chain for member ID 1: that is, the members they recommended, the members those members recommended, and so on. Return member ID and name, and order by ascending member id.
runSelect("with recursive recommendeds(memid) as (select memid from cd.members where recommendedby = 1 \
	union all \
	select mems.memid \
		from recommendeds recs \
		inner join cd.members mems \
			on mems.recommendedby = recs.memid) \
select recs.memid, mems.firstname, mems.surname \
	from recommendeds recs \
	inner join cd.members mems \
		on recs.memid = mems.memid \
order by memid ")

In [58]:
#3 Produce a CTE that can return the upward recommendation chain for any member. You should be able to select recommender from recommenders where member=x. Demonstrate it by getting the chains for members 12 and 22. Results table should have member and recommender, ordered by member ascending, recommender descending.
runSelect("with recursive recommenders(recommender, member) as ( \
	select recommendedby, memid \
		from cd.members \
	union all \
	select mems.recommendedby, recs.member \
		from recommenders recs \
		inner join cd.members mems \
			on mems.memid = recs.recommender) \
select recs.member member, recs.recommender, mems.firstname, mems.surname \
	from recommenders recs \
	inner join cd.members mems on recs.recommender = mems.memid \
	where recs.member = 22 or recs.member = 12 \
order by recs.member asc, recs.recommender desc ")